{% load bootstrap5 %}
{% bootstrap_css %}

<h1 style="color: green;">Welcome, New User!</h1>


This page is specifically designed for individuals interested in becoming sellers on our platform. 
If you wish to join us and showcase your products on our site, we have outlined some important conditions for your consideration:

Age Requirement: We kindly request that all applicants be at least 18 years old. This age restriction is in place to ensure legal compliance and responsible participation.

Valid Identification: To proceed, it is essential that your CNI is both accurate and verifiable. We will conduct a thorough review of the provided information after you complete and submit this form. Please note that attempting to use an identification document that does not belong to you may lead to legal consequences.

Ownership of Product Images: All images of products you upload must be your own, and you should have the legal rights to use them. It is crucial that the images accurately represent the items you intend to sell.

Accurate Address: The address provided during registration should be accurate and up-to-date. This is important for ensuring smooth delivery and communication between you and our users.

These conditions have been established to safeguard the interests and security of our valued users. By clicking the registration button, you acknowledge and accept these terms and conditions. Your commitment to these guidelines helps us protect our users from potential fraudulent activities.

Thank you for taking the time to read and understand our requirements.



<a href="/seller/">
    <button type="button" class="btn btn-primary">Sign Up</button>
</a>